package ${package}.entity;
import lombok.Data;
import java.io.Serializable;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
/**
 * ${comments}实体
 * 表名 ${tableName}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}Entity implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /** $column.comments **/
    private $column.attrType $column.attrname;
#end
}
